/* https://www.pinterest.com/pin/6966574412249345/ */

body {
  background-color: rgb(32, 35, 40);
  display: flex;
  justify-content: center;
  transition: background-color 1000ms cubic-bezier(1, 1, 1, 1);
  background-color: rgb(84, 92, 92);
}

div#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#surprise {
  width: 282px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: 298px;
  right: 227px;
}

div#surprise:hover {
  cursor: pointer;
}

div.navigation {
  background-color: rgb(32, 35, 40);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 30px;
}

button#home {
  margin: 0 10px;
  padding: 13px 28px;
  background-color: rgba(255, 58, 128, 0);
  border: 1px solid rgba(255, 58, 128, 1);
  color: rgba(255, 58, 128, 1);
  border-radius: 3px;
  letter-spacing: 0.5px;
}

button#home:hover {
  background-color: rgba(255, 58, 128, 1);
  cursor: pointer;
  color: white;
}

button#log-in {
  margin: 0 10px;
  padding: 13px 28px;
  color: white;
  background-color: rgba(255, 58, 128, 0.5);
  border: 1px solid rgba(255, 58, 128, 1);
  border-radius: 3px;
  letter-spacing: 0.5px;
}

button#log-in:hover {
  background-color: rgba(255, 58, 128, 1);
  cursor: pointer;
}

button#sign-up {
  margin: 0 10px;
  padding: 13px 28px;
  background-color: rgba(255, 58, 128, 0.5);
  border: 1px solid rgba(255, 58, 128, 1);
  color: white;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

button#sign-up:hover {
  background-color: rgba(255, 58, 128, 1);
  cursor: pointer;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  font-size: 40px;
  color: white;
  overflow: hidden;
  position: relative;
}

#darken-image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  color: white;
  font-size: 110px;
  line-height: 130%;
  letter-spacing: -1px;
  padding: 30px;
  text-shadow: 3px 3px 15px rgba(32, 35, 40, 0.4);
  width: 100%;
  background-color: rgba(32, 35, 40, 0.5);
  position: absolute;
}

#keyboard {
  width: 100%;
}

.all-projects-container {
  /* width: 1000px; */
  /* position: relative; */
  /* display: block; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

.project-info {
  width: 1000px;
  height: 200px;
  margin: 150px auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid hotpink; */
  /* border-radius: 3px; */
  /* overflow: hidden; */
  /* background-color: white; */
  position: relative;
}

.project-image-container {
  height: 300px;
  width: 800px;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgb(32, 35, 40);
  box-shadow: 2px 2px 5px 2px rgba(32, 35, 40, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

.project-image {
  width: 800px;
}

#project-text {
  background-color: white;
  width: 400px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 2px rgba(32, 35, 40, 0.2);
}

.project-name {
  display: block;
  margin: 15px 10px 5px 20px;
  font-size: 20pt; 
}

.project-name a {
  color: rgb(32, 35, 40);
  text-decoration: none;
  letter-spacing: 1px;
}

.project-username {
  display: block;
  margin: 5px 10px 5px 20px;
  font-size: 8.5pt;
  color: rgb(132, 143, 158);
}
